<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714780470144-0f6u0ov3c4dhvsiqljhfp6mjv12m95ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714780470144-0f6u0ov3c4dhvsiqljhfp6mjv12m95ab</string>
	<key>API_KEY</key>
	<string>AIzaSyCYJdwqx6Q24nbrwGwMK4g_2IsY2IKKxL0</string>
	<key>GCM_SENDER_ID</key>
	<string>714780470144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kadiremre.Baller</string>
	<key>PROJECT_ID</key>
	<string>baller-bf998</string>
	<key>STORAGE_BUCKET</key>
	<string>baller-bf998.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714780470144:ios:2e56db637137e6ce232f65</string>
</dict>
</plist>